body {
    font-family: Montserrat;
}

h1 {
    font-weight:700;
    font-size:75px;
    margin-bottom:10px;
    padding-bottom:0;
    text-transform: uppercase;
}

.banner {
    padding-top:60px;
    padding-bottom:120px;
    background-color: rgba(0,0,0,0.15);
    background-image: url('resources/banner-bg.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center left;
    color:white;
}

.banner p {
    font-weight:500;
    font-size:20px;
    margin-top:0;
    margin-bottom:40px;
    padding-top:0;
}

.resume {
    padding:15px;
    margin-bottom:100px;
    border: 2px solid #FFF;
    border-radius: 30px;
    font-weight:600;
    color: #00026E;
    background-color: rgba(255,213,122,0.80);
    
}

.resume:hover {
    background-color:rgba(255,213,122,0.40);
    color:#00026E;
    border:2px solid #00026E;
    border-radius: 30px;
}

.resume:active {    
    background-color: rgba(0,2,110,0.6);
    border:2px solid #FFF;
    border-radius: 30px;
    color:#FFF;
    
}

h2 {
    margin-bottom: 30px;
    font-size:32px;
}

header,
footer,
section {
    text-align:center;
}

section {
    padding-top:20px;
    padding-bottom:40px;
}

nav {
    vertical-align:middle;
    padding:10px;
}

a {
    font-size: 21px;
    text-decoration: none;
    color: #00026E;
    padding:10px 20px;
    border: 2px solid transparent;
    border-radius:20px;
}

a:hover {
    color: #000;
    border: 2px solid #FFD57A;
    border-radius:20px;
}
li {
   list-style-type: none; 
   text-align:left;
}

nav li {
    display:inline;
    font-weight:600;
    width:25%;
    padding-inline:20px;
}

.skills {
    padding-top: 60px;
    padding-bottom:100px;
    background-color: #96C9FF;
    color: #00026E;
}

.codingStack,
.design,
.projMgmt {
    display:inline-block;
    padding-inline: 10px;
    margin-inline: 4%;
    width:15%;
    vertical-align:top;
}

.skills h3,
.projects h3 {
    font-size: 21px;
    margin:10px;
}

.skills p,
.projects p {
    font-size: 19px;
}

.skills ul {
    padding-left:10px;
    margin-left:10px;
    border-left: 2px solid #00026E;
}

.skills li {
    padding-bottom:10px;
    font-size: 19px;
}

.softSkills p {
    margin:3px;
}

.projects {
    padding-top:60px;
    padding-bottom: 100px;
}

.projects img {
    width:90%;
    border-radius: 10px;
}

.projects p {
    margin:10px;
}

.app1,
.app2,
.app3 {
    display:inline-block;
    padding-inline: 10px;
    width:25%;
    vertical-align:top;
}

.button {
    margin-top:25px;
}

.button a {
    padding:8px 15px;
    background-color: #FFD57A;
    border:2px solid transparent;
    color:#00026E;
    border-radius: 20px;
    margin-inline: 10px;
    font-size:18px;
    font-weight:600;
}

.button a:hover {
    background-color:#96C9FF;
    color:#00026E;
    border:2px solid #00026E;
}

.button a:active {
    color:#00026E;
    background-color:#FFF;
    border:2px solid #00026E;
}

.contact-me {
    padding-top: 60px;
    padding-bottom:100px;
    background-color:#00026E;
    color:#FFF;
}

.contact-me-form {
    width:50%;
    margin:auto;
    padding: 10px 5px;
    border: 4px solid #FFD57A;
    border-radius: 40px;
}

.form-name,
.form-email,
.form-message {
    padding:10px 30px;
}

.form-name label,
.form-email label,
.form-message label {
    display:inline-block;
    width: 18%;
    text-align: left;
    font-size: 18px;
    font-weight:500;
}

.form-message label {
    vertical-align: top;
}

.form-name input,
.form-email input,
.form-message textarea {
    width:70%;
    margin: 0 auto;
    padding:5px 5px;
    border-radius: 10px;
    border:none;
    font-family: Montserrat, sans-serif;
    font-size:18px;
    color:#00026E;
}

.form-name input:focus,
.form-email input:focus,
.form-message textarea:focus {
    background-color: #FFEFCC;
}

button {
    margin:20px auto;
    padding:10px 50px;
    border-radius: 20px;
    border: 2px solid #FFF;
    background-color: #FFD57A;
    color:#00026E;
    font-family:Montserrat, sans-serif;
    font-size:18px;
    font-weight:600;

}

footer {
    background-color:#96C9FF;
    color: #00026E;
    padding:20px;
}

footer h2 
{
    vertical-align: middle;
    margin:auto;
    display: inline-block;
    font-size:18px;
    padding-right: 50%;
}

footer p {
    vertical-align: middle;
    display: inline-block;
    font-size:18px;
    margin:auto;
}

@media only screen and (max-width: 850px)  {
    nav li {
        display:block;
        text-align: center;
        font-weight:600;
        width:80%;
        padding:10px;
    }

    .codingStack,
    .design,
    .projMgmt {
        display:block;
        padding: 10px;
        width:60%;
        text-align: center;
        margin:auto;
    }

    .skills ul {
        border-left: none;
        margin:auto;
    }

    .skills li {
        text-align:center;
    }

    .app1,
    .app2,
    .app3 {
        display:block;
        padding: 10px;
        width:60%;
        text-align: center;
        margin:auto;
    }

    .button a {
        display:block;
        margin: 15px auto;
    }

    footer h2 {
        margin:auto;
        display: block;
        font-size:18px;
        text-align:center;
        padding:10px;
    }

    footer p {
        display: block;
        font-size:18px;
        margin:auto;
        text-align:center;
        padding:10px;
    }
}

@media only screen and (max-width: 1800px) {
    .button a {
        display:block;
        width: 70%;
        margin: 15px auto;
    }
}