body {
    font-family: Montserrat;
}

h1 {
    font-weight:700;
    font-size:75px;
    margin-bottom:0;
    padding-bottom:0;
    text-transform: uppercase;
}

.banner {
    padding:60px;
    background-color: rgba(0,0,0,0.25);
    background-image: url('resources/banner-bg.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center left;
    color:white;
}

.banner p {
    font-weight:500;
    font-size:20px;
    margin-top:0;
    padding-top:0;
}

h2 {
    margin-bottom: 30px;
    font-size:32px;
}

header,
footer,
section {
    text-align:center;
}

section {
    padding-top:20px;
    padding-bottom:40px;
}

nav {
    vertical-align:middle;
    padding:10px;
}

a {
    font-size: 21px;
    text-decoration: none;
    color:black;
}

a:hover {
    color:mediumblue;
}
li {
   list-style-type: none; 
   text-align:left;
}

nav li {
    display:inline;
    font-weight:600;
    width:25%;
    padding-inline:20px;
}

.skills {
    background-color:rgb(215, 239, 255);
}

.codingStack,
.design,
.projMgmt {
    display:inline-block;
    padding-inline: 10px;
    margin-inline: 4%;
    width:15%;
    vertical-align:top;
}

.skills h3,
.projects h3 {
    font-size: 21px;
    margin:10px;
}

.skills p,
.projects p {
    font-size: 19px;
}

.skills ul {
    padding-left:10px;
    margin-left:10px;
    border-left: 2px solid darkblue;
}

.skills li {
    padding-bottom:10px;
    font-size: 19px;
}

.softSkills p {
    margin:3px;
}

.projects img {
    width:90%;
    border-radius: 10px;
}

.projects p {
    margin:10px;
}

.app1,
.app2,
.app3 {
    display:inline-block;
    padding-inline: 10px;
    width:25%;
    vertical-align:top;
}

footer {
    background-color:rgb(215, 239, 255);
    color:black;
    padding:20px;
}

footer h2 
{
    vertical-align: middle;
    margin:auto;
    display: inline-block;
    font-size:18px;
    padding-right: 50%;
}

footer p {
    vertical-align: middle;
    display: inline-block;
    font-size:18px;
    margin:auto;
}

@media only screen and (max-width: 850px)  {
    nav li {
        display:block;
        text-align: center;
        font-weight:600;
        width:80%;
        padding:10px;
    }

    .codingStack,
    .design,
    .projMgmt {
        display:block;
        padding: 10px;
        width:60%;
        text-align: center;
        margin:auto;
    }

    .skills ul {
        border-left: none;
        margin:auto;
    }

    .skills li {
        text-align:center;
    }

    .app1,
    .app2,
    .app3 {
        display:block;
        padding: 10px;
        width:60%;
        text-align: center;
        margin:auto;
    }

    footer h2 {
        margin:auto;
        display: block;
        font-size:18px;
        text-align:center;
        padding:10px;
    }

    footer p {
        display: block;
        font-size:18px;
        margin:auto;
        text-align:center;
        padding:10px;
    }
}